.main-page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  row-gap: 80px;
  min-height: 100%;
  background-color: $primary-white;

  @media (min-width: $tablet-width) {
    row-gap: 100px;
  }

  &--dark {
    background-color: $primary-black;
  }

  &__content {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: $desktop-width) {
      padding: 0 100px;
    }

    &--loading {
      justify-self: center;
      align-self: center;
    }
  }

  &__add-artist-button {
    position: absolute;
    transform: translateY(calc(-100% - 20px));
    column-gap: 12px;
    color: $primary-dark-gray;

    &--dark {
      color: $primary-light-gray;
    }
  }

  &__paintings {
    justify-content: center;

    .paintings {
      &__link {
        width: auto;
        text-decoration: none;
      }
    }
  }
}
