.textarea {
  border-radius: 4px;
  padding: 12px 16px;
  text-align: justify;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  color: $primary-dark-gray;
  background-color: $primary-white;
  outline: 1px solid $primary-light-gray;
  outline-offset: -1px;
  caret-color: currentColor;
  resize: none;

  &::placeholder {
    color: $secondary-gray;
  }

  &:hover {
    outline-color: $secondary-gray;
  }

  &:focus-visible {
    outline-color: $primary-dark-gray;
  }

  &:not(:focus):invalid {
    outline-color: $accent-error;
  }

  &--dark {
    color: $primary-light-gray;
    background-color: $secondary-black;
    outline-color: transparent;

    &:hover {
      outline-color: $primary-dark-gray;
    }

    &:focus-visible {
      outline-color: $primary-light-gray;
    }
  }
}
