.edit-artist-window-backdrop {
  background-color: rgba(3, 3, 3, 0.3);

  &--dark {
    background-color: rgba(3, 3, 3, 0.6);
  }
}

.edit-artist-window-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.edit-artist-window {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
  height: 100%;
  padding: 80px 30px;
  background-color: $secondary-white;
  overflow: auto;

  &--dark {
    background-color: $primary-black;
  }

  @media (min-width: $tablet-width) {
    row-gap: 60px;
    padding: 80px 214px;
  }

  @media (min-width: $desktop-width) {
    top: 74px;
    left: 50%;
    flex-direction: row;
    column-gap: 60px;
    width: 800px;
    height: 876px;
    padding: 80px 100px;
    transform: translateX(-50%);

    @media (min-height: 1025px) {
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__close-button {
    position: absolute;
    top: 20px;
    right: 20px;

    @media (min-width: $tablet-width) {
      top: 32px;
    }

    @media (min-width: $desktop-width) {
      right: 32px;
    }
  }

  &__file-input-container {
    align-items: center;
    row-gap: 20px;
  }

  &__file-input-wrapper {
    position: relative;
    border-radius: 2px;
    outline: 1px dashed $secondary-gray;
    outline-offset: -1px;

    &--dark {
      outline-color: $primary-dark-gray;
    }

    &--image-selected {
      outline: transparent;
    }

    &--drag-active {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-white;
      z-index: 2;
    }

    &--drag-active#{&}--dark {
      background-color: $secondary-black;
    }
  }

  &__file-input-hints {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: "Inter";
    font-weight: 300;
    line-height: 140%;

    &::before {
      content: "";
      width: 60px;
      height: 60px;
      background-image: url("../../assets/icons/profile--filled.svg");
      opacity: 0.2;
    }

    &--dark::before {
      opacity: 0.1;
    }

    @media (min-width: $desktop-width) {
      &::before {
        margin-bottom: 16px;
      }
    }
  }

  &__file-input-place-hint {
    display: block;
    text-align: center;
    font-size: 16px;
    color: $primary-dark-gray;

    &--drag-active {
      margin-bottom: 20px;
    }

    &--dark {
      color: $primary-light-gray;
    }
  }

  &__file-input-allowed-files-hint {
    display: none;
    font-size: 12px;
    color: $secondary-gray;

    &--dark {
      color: $primary-dark-gray;
    }

    &--drag-active {
      display: block;
    }
  }

  &__image-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }

  &__image {
    position: relative;
    border-radius: inherit;
    opacity: 0;
    z-index: 1;

    &--image-selected {
      opacity: 1;
    }

    &--drag-active {
      opacity: 0;
    }
  }

  &__image-reset-button {
    position: absolute;
    right: 8px;
    bottom: 8px;
    z-index: 1;
  }

  &__file-input-container-label {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-underline-offset: calc(1lh - 1em);
    color: $primary-dark-gray;
    cursor: pointer;

    &--dark {
      color: $primary-light-gray;
    }
  }

  &__edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    width: 100%;

    @media (min-width: $tablet-width) {
      row-gap: 40px;
    }

    .edit-form {
      &__form-control {
        width: 100%;
        max-width: 340px;

        &:last-of-type {
          margin-bottom: 8px;

          @media (min-width: $tablet-width) {
            margin-bottom: 20px;
          }
        }
      }

      &__submit-button {
        width: 200px;
        height: 47px;
      }
    }
  }

  &__textarea {
    height: 150px;
  }
}
