@import "fonts.scss";

*,
*::before,
*::after {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 1px;
}

#root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
	list-style: none;
}

svg,
img {
  line-height: 0;
}

img {
  display: block;
  object-fit: cover;
}

button:not(:disabled) {
  cursor: pointer;
}

a:focus,
button:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
