.view-paintings-window-backdrop {
  background-color: rgba(3, 3, 3, 0.3);
}

.view-paintings-window-content-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.view-paintings-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @media (min-width: $desktop-width) {
    max-width: 1920px;
    height: auto;
    aspect-ratio: 42 / 32;
  }

  &__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    fill: $primary-light-gray;
    z-index: 2;

    @media (min-width: $tablet-width) {
      top: 40px;
      right: 40px;
    }

    @media (min-width: $desktop-width) {
      top: 60px;
      right: 120px;
    }
  }

  &__slider {
    width: 100%;
    height: 100%;
  }

  &__painting-card {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__change-painting-button {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    column-gap: 12px;
    font-family: "Inter";
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    color: $primary-light-gray;

    @media (min-width: $tablet-width) {
      top: 40px;
      left: 40px;
    }

    @media (min-width: $desktop-width) {
      top: 60px;
      left: 120px;
    }
  }

  &__slider-navigation-buttons {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url("../../assets/icons/arrow-as-triangle--large-size--filled.svg");
    z-index: 1;

    &--prev {
      transform: rotate(180deg) translateY(50%);
      left: 0;
    }

    &--next {
      right: 0;
      transform: translateY(-50%);
    }
  }

  &__change-painting-button-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background-color: rgba($primary-white, 0.1);
  }

  &__change-painting-button-icon {
    width: 24px;
    height: 24px;
    fill: $primary-light-gray;
  }

  &__painting {
    width: 100%;
    height: 100%;
  }

  &__caption-block {
    position: absolute;
    bottom: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    min-width: 253px;
    max-width: calc(100% - 67px);
    min-height: 68px;
    padding: 16px 12px;
    text-transform: uppercase;
    background-color: $primary-white;

    @media (min-width: $tablet-width) {
      bottom: 60px;
      left: 40px;
      row-gap: 8px;
      min-width: 498px;
      max-width: calc(100% - 270px);
      min-height: 122px;
      padding: 40px 20px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 2px;
        height: calc(100% - 80px);
        background-color: $accent-red;
      }
    }

    @media (min-width: $desktop-width) {
      bottom: 100px;
      left: 120px;
      max-width: calc(100% - 942px);
    }

    &--dark {
      background-color: $primary-black;

      &::before {
        background-color: $accent-gold;
      }
    }
  }

  &__year-of-creation {
    font-family: "Inter";
    font-size: 8px;
    font-weight: 700;
    line-height: 10px;
    color: $accent-red;

    &--dark {
      color: $accent-gold;
    }

    @media (min-width: $tablet-width) {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__name {
    font-family: "Cormorant SC";
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    font-style: normal;
    color: $primary-black;

    &--dark {
      color: $primary-white;
    }

    @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 19px;
    }
  }

  &__controls {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    column-gap: 20px;

    @media (min-width: $tablet-width) {
      top: 20px;
      right: 20px;
      bottom: auto;
      left: auto;
    }
  }

  &__control {
    background-color: transparent;
  }

  &__slide-counter {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-family: "Cormorant SC";
    font-size: 16px;
    font-weight: 700;
    line-height: 128%;
    text-transform: uppercase;
    color: $primary-light-gray;

    @media (min-width: $tablet-width) {
      right: 40px;
      bottom: 60px;
      font-size: 32px;
      font-weight: 600;
      line-height: 100%;
    }

    @media (min-width: $desktop-width) {
      right: 120px;
      bottom: 100px;
    }
  }
}
