.paintings-section {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    justify-content: center;
    gap: 20px;
    max-width: min(100%, 1920px);
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      grid-template-columns: repeat(auto-fill, 352px);
      gap: 24px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(auto-fill, 392px);
      gap: 32px;
      padding: 0 100px;
    }
  }
}
