$paintings-section-light-theme-background-color: $primary-white;
$paintings-section-dark-theme-background-color: $primary-black;

.paintings-section {
  background-color: $paintings-section-light-theme-background-color;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    justify-content: center;
    gap: 20px;
    max-width: min(100%, 1920px);
    margin: 0 auto;
    padding: 80px 20px;
  }

  &--dark {
    background-color: $paintings-section-dark-theme-background-color;
  }

  @media (min-width: $tablet-width) {
    &__container {
      grid-template-columns: repeat(auto-fill, 352px);
      gap: 24px;
      padding: 100px 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &__container {
      grid-template-columns: repeat(auto-fill, 392px);
      gap: 32px;
      padding: 100px;
    }
  }
}
