@import "../App/scss/breakpoints.scss";
@import "../App/scss/colors.scss";

.painting-card {
  position: relative;
  width: 100%;
  aspect-ratio: 56 / 37;

  @media (min-width: $tablet-width) {
    aspect-ratio: 8 / 5;
  }

  @media (min-width: $desktop-width) {
    aspect-ratio: 98 / 65;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__without-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 16px;
    background-color: $secondary-white;

    &--dark {
      background-color: $secondary-black;
    }

    .without-image {
      &__text {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;
        font-family: "Inter";
        font-size: 12px;
        font-weight: 900;
        line-height: 15px;
        text-transform: uppercase;
        color: $secondary-gray;

        &::before {
          content: "";
          width: 68px;
          height: 59px;
          background-image: url("../../assets/icons/no-photo-icon.svg");
          opacity: 0.2;
        }

        &--dark{
          &::before {
            opacity: 0.1;
          }
        }
      }
    }
  }
}

.figcaption {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 236px;
  padding: 8px 12px;
  text-transform: uppercase;
  background-color: $primary-white;

  @media (min-width: $tablet-width) {
    row-gap: 8px;
    width: 300px;
    padding: 12px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 2px;
      height: 42px;
      background-color: $accent-red;
    }
  }

  &__name {
    font-family: "Cormorant SC";
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: $primary-black;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__date {
    font-family: "Inter";
    font-size: 8px;
    font-weight: 700;
    line-height: 10px;
    color: $accent-red;

    @media (min-width: $tablet-width) {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__arrow-block {
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: $accent-red;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &__arrow-icon {
    fill: $primary-light-gray;
  }

  &--dark {
    background-color: $primary-black;

    &::before {
      background-color: $accent-gold;
    }

    .figcaption__name {
      color: $primary-light-gray;
    }

    .figcaption__date {
      color: $accent-gold;
    }

    .figcaption__arrow-block {
      background-color: $accent-gold;
    }
  }
}
