@import "../App/scss/breakpoints.scss";
@import "../App/scss/colors.scss";

.card {
  position: relative;
  width: 100%;
  aspect-ratio: 56 / 37;

  @media (min-width: $tablet-width) {
    aspect-ratio: 8 / 5;
  }

  @media (min-width: $desktop-width) {
    aspect-ratio: 98 / 65;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__caption-block {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    min-width: 236px;
    max-width: calc(100% - 44px);
    min-height: 45px;
    padding: 8px 12px;
    text-transform: uppercase;
    background-color: $primary-white;

    @media (min-width: $tablet-width) {
      row-gap: 8px;
      min-width: 300px;
      max-width: calc(100% - 52px);
      min-height: 66px;
      padding: 12px;
    }

    @media (min-width: $desktop-width) {
      max-width: calc(100% - 92px);
      min-height: 82px;
      padding: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 0;
        width: 2px;
        background-color: $accent-red;
      }
    }

    &--dark {
      background-color: $primary-black;

      &::before {
        background-color: $accent-gold;
      }
    }
  }

  &__name {
    font-family: "Cormorant SC";
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: $primary-black;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 19px;
    }

    &--dark {
      color: $primary-light-gray;
    }
  }

  &__date {
    font-family: "Inter";
    font-size: 8px;
    font-weight: 700;
    line-height: 10px;
    color: $accent-red;

    @media (min-width: $tablet-width) {
      font-size: 12px;
      line-height: 15px;
    }

    &--dark {
      color: $accent-gold;
    }
  }

  &__arrow-block {
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 100%;
    background-color: $accent-red;

    &--dark {
      background-color: $accent-gold;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }

  }

  &__arrow-block-icon {
    width: 24px;
    height: 24px;
    fill: $primary-light-gray;
  }
}
