.image-placeholder {
  &__text {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    font-family: "Inter";
    font-size: 12px;
    font-weight: 900;
    line-height: 15px;
    text-transform: uppercase;
    color: $secondary-gray;

    &::before {
      content: "";
      width: 68px;
      height: 59px;
      background-image: url("../../../assets/icons/no-photo-icon.svg");
      opacity: 0.2;
    }

    &--dark::before {
      opacity: 0.1;
    }
  }
}
