$header-light-theme-background-color: $primary-white;
$header-dark-theme-background-color: $primary-black;

$icon-button-light-theme-fill: $primary-dark-gray;
$icon-button-dark-theme-fill: $primary-light-gray;

.header {
  background-color: $header-light-theme-background-color;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px;

    @media (min-width: $tablet-width) {
      padding: 32px 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 20px 100px;
    }
  }

  &__container-right-col {
    display: flex;
    column-gap: 20px;
  }

  &__menu-button {
    line-height: 0;
    fill: $icon-button-light-theme-fill;
    background-color: transparent;
  }

  &--dark {
    background-color: $header-dark-theme-background-color;

    .header__menu-button {
      fill: $icon-button-dark-theme-fill;
    }
  }
}

.side-page-backdrop {
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;

  &--active {
    background-color: rgba(3, 3, 3, 0.3);
  }

  &--active#{&}--dark {
    background-color: rgba(3, 3, 3, 0.6);;
  }
}

.side-page {
  position: absolute;
  top: 0;
  right: 0;
  width: 252px;
  height: 100%;
  padding: 144px 47px;
  background-color: $secondary-white;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;

  @media (min-width: $tablet-width) {
    width: 466px;
    padding: 200px 94px;
  }

  &--active {
    transform: translateX(0);
  }

  &--dark {
    background-color: $primary-black;
  }

  &__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
