$header-light-theme-background-color: $primary-white;
$header-dark-theme-background-color: $primary-black;

$icon-button-light-theme-fill: $primary-dark-gray;
$icon-button-dark-theme-fill: $primary-light-gray;

.header {
  background-color: $header-light-theme-background-color;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px;

    @media (min-width: $tablet-width) {
      padding: 32px 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 20px 100px;
    }
  }

  .menu-button {
    line-height: 0;
    fill: $icon-button-light-theme-fill;
    background-color: transparent;
  }

  &--dark {
    background-color: $header-dark-theme-background-color;

    .menu-button {
      fill: $icon-button-dark-theme-fill;
    }
  }
}
