.artist-page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;

  &__content {
    justify-self: center;
    width: 100%;
    max-width: 1920px;

    &--loading {
      width: auto;
      align-self: center;
    }
  }

  &__tools-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;

    @media (min-width: $tablet-width) {
      padding: 32px 20px 20px;
    }

    @media (min-width: $desktop-width) {
      padding: 52px 100px 20px;
    }

    .tools-bar {
      &__back-link {
        display: flex;
        column-gap: 12px;
        text-transform: uppercase;

        .back-link {
          &__icon {
            transform: rotate(180deg);
          }

          &__text {
            font-size: 12px;
            font-weight: 700;
          }
        }
      }

      &__edit-buttons {
        display: flex;
        column-gap: 20px;
      }
    }
  }

  &__heading {
    padding: 60px 20px;
    font-family: "Cormorant SC";
    font-size: 32px;
    font-weight: 600;
    line-height: 100%;
    color: $accent-red;

    &--auth-user {
      padding-bottom: 20px;
    }

    @media (min-width: $tablet-width) {
      padding: 98px 20px 60px 20px;
      font-size: 60px;
      font-weight: 500;
      line-height: 73px;

      &--auth-user {
        padding-bottom: 16px;
      }

    }

    @media (min-width: $desktop-width) {
      padding: 160px 180px 60px 180px;
      font-size: 60px;
      font-weight: 500;
      line-height: 73px;
    }

    &--dark {
      color: $accent-gold;
    }
  }

  &__add-painting-button {
    display: flex;
    margin-right: 20px;
    margin-left: auto;
    column-gap: 12px;
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 100px;
    }
  }

  &__paintings {
    justify-content: space-evenly;
    padding: 0 20px 80px;

    @media (min-width: $tablet-width) {
      padding-bottom: 100px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 100px;
      padding-left: 100px;
    }
  }

  &--dark {
    background-color: $primary-black;
  }
}
