.text-accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;

  &__text {
    &--hidden {
      background-image: linear-gradient(180deg, #575757 0%, rgba(87, 87, 87, 0.40) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--hidden#{&}--dark {
      background-image: linear-gradient(180deg, #DEDEDE 0%, rgba(222, 222, 222, 0.40) 100%);
    }
  }

  &__toggle-button {
    display: flex;
    align-items: center;
    column-gap: 8px;

    &--less {
      .toggle-button__icon {
        transform: rotate(180deg);
      }
    }
  }

  &__toggle-button-icon {
    width: 16px;
    height: 16px;
  }
}
