.text-accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;

  &__text {
    &--hidden {
      background-image: linear-gradient(180deg, #575757 0%, rgba(87, 87, 87, 0.40) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .show-more-button {
    display: flex;
    align-items: center;
    column-gap: 8px;

    &__icon {
      fill: currentColor;
      transform: rotate(180deg);
    }

    &--open {
      .show-more-button__icon {
        transform: rotate(0);
      }
    }
  }
}
