@import "../App/scss/colors.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 2px;
  fill: $primary-dark-gray;
  background-color: $secondary-white;

  &:disabled {
    opacity: 0.5;
  }

  &:hover:not(:disabled),
  &:focus-visible {
    fill: $primary-black;
  }

  &--over-image {
    fill: $primary-light-gray;
    background-color: rgba($primary-white, 0.9);

    &:disabled {
      fill: $primary-light-gray;
      opacity: 0.5;
    }

    &:hover:not(:disabled),
    &:focus-visible {
      fill: $primary-light-gray;
      background-color: rgba($primary-white, 0.8);
    }
  }

  &--dark {
    fill: $primary-light-gray;
    background-color: $secondary-black;

    &:disabled {
      opacity: 0.5;
    }

    &:hover:not(:disabled),
    &:focus-visible {
      fill: $primary-white;
    }

    &.button--over-image  {
      background-color: rgba($secondary-black, 0.9);

      &:disabled {
        background-color: rgba($secondary-black, 0.9);
        opacity: 0.5;
      }

      &:hover:not(:disabled),
      &:focus-visible {
        background-color: rgba($secondary-black, 0.8);
      }
    }
  }
}
