@import "../App/scss/colors.scss";
@import "../App/scss/mixins.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  @include button-text;
  color: $primary-dark-gray;
  background-color: transparent;

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }

  span {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
    }
  }

  &:disabled {
    color: $primary-light-gray;
  }

  &:hover:not(:disabled) {
    color: $primary-black;
  }

  &:focus-visible {
    color: $primary-black;
  }

  &--dark {
    color: $primary-light-gray;

    &:disabled {
      color: $secondary-gray;
    }

    &:hover:not(:disabled) {
      color: $primary-white;
    }

    &:focus-visible {
      color: $primary-white;
    }
  }

  &--icon-right {
    flex-direction: row-reverse;
  }

  &--icon-small {
    svg {
      width: 12px;
      height: 12px;
    }
  }

  &--gap-small {
    column-gap: 8px;
  }

  &--gap-medium {
    column-gap: 12px;
  }

  &--gap-large {
    column-gap: 20px;
  }
}
